<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/wetherImg.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <img src="/img/umbrella.png" class="aboutImg">
</div>
{{>footer}}
<script src="js/app.js" class="aboutImg"></script>
</body>
</html>